
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Artifakt Element";
    src: url("fonts/ArtifaktElement-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Artifakt Element";
    font-weight: 300;
    src: url("fonts/ArtifaktElement-Light.otf") format("opentype");
}

@font-face {
    font-family: "Artifakt Element";
    font-weight: 600;
    src: url("fonts/ArtifaktElement-Medium.otf") format("opentype");
}

body {
    font-family: "Artifakt Element", "Open Sans";
    font-weight: 300;
    -webkit-user-select: none;
    cursor: default;
}

input {
    font-family: "Artifakt Element", "Open Sans";
}

.LibraryContainer {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.LibraryItemContainer {
    flex-grow: 1;
    overflow-y: scroll;
}

.LibraryItemContainerSection {
    display: flex;
    flex-direction: column;
    background: #353535;
}

.LibraryItemContainerCategory {
    display: flex;
    flex-direction: column;
    background: #353535;
    border-bottom: solid 1px #494949;
}

.LibraryItemContainerGroup {
    display: flex;
    flex-direction: column;
    background: #414141;
}

.LibraryItemContainerNone {
    display: flex;
    flex-direction: column;
    background: #414141;
    overflow-x: hidden;
}

.LibrarySectionHeader {
    display: flex;
    padding: 10px;
    color: white;
    transition: 0.15s;
    background-color: #464646;
    color: #888;
}

.LibrarySectionHeader .LibraryItemIcon {
    display: none;
}

.LibraryItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3;
    color: white;
    transition: 0.15s;
    overflow-y: hidden;
}

.LibraryItemHeader:hover, .LibrarySectionHeader:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.LibraryItemBodyElements {
    width: 100%;
}

.LibraryItemBody {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.LibraryItemBodyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #414141;
}

.LibraryItemContainerSection .LibraryItemIcon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
    -webkit-user-drag: none;
}

.LibraryItemContainerCategory .LibraryItemIcon {
    padding: 10px;
    width: 20px;
    height: 20px;
    -webkit-user-drag: none;
}

.LibraryItemContainerNone .LibraryItemIcon {
    padding: 2px 8px;
    width: 32px;
    height: 32px;
    -webkit-user-drag: none;
}

.Arrow + .LibraryItemIcon {
    padding: 2px 8px 2px 4px;
}

.LibraryItemContainerCategory .LibraryItemText {
    font-size: 15px;
}

.LibraryItemContainerNone .LibraryItemText {
    font-size: 13px;
    padding: 10px 0px;
}

.LibraryItemGroupText {
    padding: 10px 0px 10px 5px;
    font-size: 15px;
    color: #a9a9a9;
}

.LibraryItemMiscHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3;
    color: white;
}

.LibraryItemMiscText {
    padding: 10px 0px 10px 10px;
    font-size: 15px;
    color: #a9a9a9;
}

.LibraryItemParameters {
    color: #888;
    font-size: 9pt;
    margin-left: 5px;
    display: inline-block;
}

.Arrow {
    padding: 10px 10px 10px 15px;
    height: 11px;
    width: 11px;
}

.BodyIndentation {
    padding: 8px;
}

.ClusterViewContainer {
    display: flex;
    flex-direction: row;
}

.ClusterLeftPane {
    display: flex;
    padding-left: 20px;
    margin: 2px 0px;
    border-right: 2px;
    border-right-style: solid;
}

.ClusterRightPane {
    flex-grow: 2;
    padding-left: 5px;
}

.ClusterIcon {
    width: 26px;
    height: 26px;
    padding: 5px 6px;
    -webkit-user-drag: none;
}

.SearchBar {
    background: #5b5a5a;
    width: 100%;
}

.SearchInput {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.SearchInputContainer {
    width:100%;
    height:30px;
    background-color:#fff;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.SearchBar .SearchBarIcon {
    margin-left: 10px;
}

.SearchBar #SearchInputText {
    height:18px;
    width:100%;
    font-size: 15px;
    padding:10px;
    background: none;
    outline: none;
    border: none;
}

.SearchBar #SearchOptionsBtn {
    height: 32px;
    width: 32px;
    color: #ddd;
    border: 0px;
    background-color: #414141;
}

.SearchBar #SearchOptionsBtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.SearchBar #SearchOptionsBtn:focus {
    outline: 0;
}

.SearchBar .SearchOptions {
    padding-bottom:1px;
}

.SearchBar .SearchOptionsContainer {
    font-size: 13px;
    color:#fff;
    margin: 0px 0px 5px 0px;
    background-color:#414141;
    overflow-x: hidden;
    overflow-y: hidden;
}

.SearchBar .SearchOptionsHeader {
    padding: 5px;
    margin-left: 10px;
}

.SearchBar .SearchOptionsHeader span {
    font-weight: 600;
}

.SearchBar .SearchOptionsHeader .SelectAllBtn {
    color: #aaa;
    background: transparent;
    border: none;
    outline: none;
    float: right;
}

.SearchBar .SearchOptionsHeader .SelectAllBtn:hover {
    cursor: pointer;
    color: white;
}

.SearchBar .CategoryCheckboxContainer {
    overflow-x: hidden;
}

.CheckboxLabel {
    position: relative;
    background-color:#414141;
    width: 100%;
    display: block;
    padding: 5px;
}

.CheckboxLabel:hover {
    background-color: #555;
    cursor: pointer;
}

.CheckboxLabel .CheckboxSymbol {
    position: absolute;
    top: 5px;
    left: 5px;
}

.CheckboxLabel .CheckboxLabelText {
    margin-left: 20px;
}

.CheckboxLabel .CheckboxLabelRightButton {
    position: absolute;
    transform: translate(-70%, 25%);
    top: 0px;
    right: 0px;
    color: #aaa;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    margin: 0px;
    padding: 0px;
}

.CheckboxLabelRightButton:hover {
    color: white;
    cursor: pointer;
}

.CheckboxLabel:hover .CheckboxLabelRightButton {
    display: block;
}

.SearchCheckbox, .CategoryCheckbox {
    display: none;
}

#SearchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.SearchResultItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    color: white;
    transition: 0.1s;
}

.SearchResultItemContainer:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.SearchResultItemContainer .ItemInfo {
    padding: 5px 0px 5px 0px;
    width: 100%;
}

.SearchResultItemContainer .ItemIcon {
    padding: 2px 8px;
    width: 40px;
    height: 40px;
}

.SearchResultItemContainer .ItemTitle {
    font-size: 14px;
    margin-bottom: 2px;
}

.SearchResultItemContainer .ItemDescription {
    font-size: 11px;
    padding: 2px 0px;
    color: #aaa;
}

.SearchResultItemContainer .ItemDetails {
    display: flex;
    align-items: center;
    padding-top: 2px;
}

.SearchResultItemContainer .ItemCategory {
    display: inline-block;
    font-size: 12px;
    color: #ddd;
    padding-left: 5px;
}

.SearchResultItemContainer .ItemTypeIcon {
    display: inline-block;
    width: 14px;
    height: 14px;
}

.HighlightedText {
    font-weight: bold;
    color: #4ac8ef;
}

::-webkit-input-placeholder {
  color: #aaaaaa;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #414141;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 3px;
    background-color: rgba(136,136,136,0.8);
}

::-webkit-scrollbar-corner {
    background-color: inherit;
}
