@font-face {
    font-family: "Artifakt Element";
    src: url("fonts/ArtifaktElement-Regular.woff") format("woff");
}

@font-face {
    font-family: "Artifakt Element";
    font-weight: 700;
    src: url("fonts/ArtifaktElement-Bold.woff") format("woff");
}

body {
    font-family: "Artifakt Element", "Open Sans";
    -webkit-user-select: none;
    user-select: none;
    font-size: 16px;
    cursor: default;
    background-color: #2a2a2a;
    color: #f5f5f5;
}

input {
    font-family: "Artifakt Element", "Open Sans";
}

.LibraryContainer {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.LibraryItemContainer {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 0.5rem;
}

.LibraryItemContainerSection {
    display: flex;
    flex-direction: column;
}

.LibraryItemContainerCategory {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #494949;
}

.LibraryItemContainerGroup {
    display: flex;
    flex-direction: column;
}

.LibraryItemContainerNone {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.LibrarySectionHeader {
    display: flex;
    padding-top: 1rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #f5f5f5f5;
    align-items: center;
    justify-content: space-between;
    transition: 0.15s;
}

.LibrarySectionHeader .LibraryItemIcon:hover {
    cursor: pointer;
}

.LibrarySectionHeader .LibraryAddOnSectionIcon:hover {
    cursor: pointer;
    opacity: 1.0;
}


.LibraryItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.15s;
    position: relative;
}

.LibraryItemContainerCategory > .LibraryItemHeader{
    padding: 1.2rem 0;
}

.LibraryItemContainerGroup > .LibraryItemHeader,
.LibraryItemContainerNone > .LibraryItemHeader{
    padding: 0.8rem 0;
}

.LibraryItemContainerGroup,
.LibraryItemContainerNone{
    padding: 0 0.5rem;
}

.LibraryItemHeader:hover,
.LibrarySectionHeader:hover {
    /* color: white; */
    background: rgba(255, 255, 255, 0.1);
}

.LibraryItemBodyElements {
    width: 100%;
}

.LibraryItemBody {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* padding-left:12px; */
}

.LibraryItemBodyContainer {
    display: flex;
    align-items: stretch;
}

.LibraryItemContainerSection .LibraryItemIcon {
    width: 14px;
    height: 14px;
    padding-right: 10px;
    -webkit-user-drag: none;
}

.LibraryItemContainerSection .LibraryAddOnSectionIcon {
    opacity: 0.5;
    width: 14px;
    height: 14px;
    padding-right: 10px;
    -webkit-user-drag: none;
}

.LibraryItemContainerCategory .LibraryItemIcon {
    padding: 7px 10px;
    width: 18px;
    height: 18px;
    -webkit-user-drag: none;
}

.LibraryItemContainerNone .LibraryItemIcon {
    padding: 2px 8px;
    width: 28px;
    height: 28px;
    -webkit-user-drag: none;
}


.Arrow+.LibraryItemIcon {
    padding: 2px 8px 2px 4px;
}

.LibraryItemContainerCategory .LibraryItemText {
    color: #ade4de;
    font-size: 1.2rem;
}

.LibraryItemContainerNone .LibraryItemText {
    color: #c6c6c6;
    font-size: 1.2rem;
}

.LibraryItemHeader .LibraryItemGroupText,
.LibrarySectionHeader .LibraryItemGroupText {
    padding: 6px 0px;
}

.LibraryItemHeader .LibraryItemGroupText {
    color: #eeeeee;
    font-size: 1.2rem;
}

.LibraryItemParameters {
    color: #888;
    font-size: 11px;
    margin-left: 5px;
    display: inline-block;
    white-space: nowrap;
}

.Arrow {
    height: 16px;
    width: 16px;
    margin: 0 0.5rem 0 1rem
}

.CategoryArrow {
    height: 16px;
    width: 16px;
    margin-right: 0.5rem;
}


.LibraryItemBody > .LibraryItemContainerGroup > .LibraryItemHeader,
.LibraryItemBody > .LibraryItemContainerNone > .LibraryItemHeader {
    border: solid #d9d9d9 2px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    position: relative;
}

.LibraryItemBody > .LibraryItemContainerGroup > .LibraryItemHeader:before,
.LibraryItemBody > .LibraryItemContainerNone > .LibraryItemHeader:before {
    content: "";
    height: 1rem;
    width: 2rem;
    border: solid #d9d9d9 2px;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    transform: translateY(-50%);
}

.LibraryItemBody > .LibraryItemContainerGroup:last-child > .LibraryItemHeader:after,
.LibraryItemBody > .LibraryItemContainerGroup.expanded > .LibraryItemHeader:after,
.LibraryItemBody > .LibraryItemContainerNone:last-child > .LibraryItemHeader:after,
.LibraryItemBody > .LibraryItemContainerNone.expanded > .LibraryItemHeader:after {
    content: "";
    height: 50%;
    position: absolute;
    border-left: solid 4px #2a2a2a;
    bottom: 0;
    left: -2px;
}

.BodyIndentation {
    padding-left: 0.4rem;
}

.ClusterViewContainer {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.ClusterLeftPane {
    display: flex;
    padding: 0 1.2rem 0 0.1rem;
    border-right: 2px;
    border-right-style: solid;
}

.ClusterLeftPane.create{
    border-color: #cfe4b3;
}

.ClusterLeftPane.action{
    border-color: #fcc776;
}

.ClusterLeftPane.query{
    border-color: #9bd5ef;
}

.ClusterRightPane {
    flex-grow: 2;
    padding-left: 4px;
}

.ClusterIcon {
    width: 1rem;
    height: 1rem;
    padding: 0 0.5rem;
    -webkit-user-drag: none;
}

.SearchBar {
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;
}

.SearchInput {
    display: flex; 
    padding: 5px 0px;
    margin: 0.5rem 0 1rem 0;
    width: 100%;
    position: relative;
    white-space: nowrap;
    border-bottom-color: #ffffff80;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.SearchInput.focus,
.SearchInput.searching{
    border-bottom-color: #38abdf;
}

.SearchInput:after{
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    bottom: -8px;
    border-bottom-color: #38abdf;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    transition: ease-in-out 300ms;
}

.SearchInput.focus:after{
    opacity: 0.5;
    width: 100%;
}

.LibraryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
    color: #f5f5f5f5;
    font-size: 1.2rem;
}

.SearchBar .Icon {
    width: 1rem;
    height: 1rem;
}

.SearchInp .ClearSearch{
    height: 0.8rem;
}

.SearchInput .SearchInputText {
    padding: 0 0.8rem;
    background: none;
    outline: none;
    border: none;
    width: 100%;
    color: #f5f5f5;
}

.SearchInput .SearchInputText:focus{
    color: #38abdf;
}

.SearchInput .SearchInputText:focus::-webkit-input-placeholder {
    opacity: 0;
}

.SearchBar .SearchOptionContainer{
    display: flex;
    height: 2rem;
    justify-content: flex-end;
    background-color: #3c3c3c;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 300ms;
}

.SearchBar.searching .SearchOptionContainer{
    visibility: visible;
    opacity: 1;
}

.SearchBar button,
.SearchBar button {
    border: none;
    outline: none;
    height: 100%;
    background-color: transparent;
    transition: 0.15s;
}

.SearchBar button {
    color: #ddd;
    transition: 0.15s;
}

.SearchBar button {
    color: #555;
}

.SearchBar button{
    background-color: transparent;
    border: 0;
    color: #6DD2FF;
}

.SearchBar button:active:enabled,
.SearchBar button:hover:enabled {
    color: #38abdf;
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
}

.SearchBar button:disabled{
    cursor: not-allowed;
}

.SearchFilterContainer{
    position: relative;
}

.SearchFilterPanel{
    position: absolute;
    top: 2rem;
    right: 0;
    background-color: #535353;
    color: #ffffff;
    width: 12rem;
    text-align: left;
    font-size: 0.8rem;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.3);
}

.SearchFilterPanel > div{
    padding: 1rem;
}

.SearchFilterPanel > div:first-child{
    padding-bottom: 0;
}

.SearchFilterPanel > .body{
    padding-top: 0;
    padding-bottom: 0;
    margin: 1rem 0;
    max-height: 400px;
    overflow-y: auto;
}

/* Custom checkbox */
.SearchFilterPanel label.Category{
    position: relative;
    display: block;
    margin-bottom: 0.5rem;
}

.SearchFilterPanel label.Category:hover{
  cursor: pointer;
} 

.SearchFilterPanel label.Category > * {
    display: inline-block;
    vertical-align: middle;
}

.SearchFilterPanel .body input[type="checkbox"]{
    visibility: hidden;
    margin: 0;
    cursor: pointer;
}

.SearchFilterPanel .body input[type="checkbox"],
.SearchFilterPanel .body .checkmark{
    margin: 0;
    margin-right: 0.5rem;
}

.SearchFilterPanel .body .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 0.8rem;
    width: 0.8rem;
    background-color: transparent;
    border: solid 1px rgba(255, 255, 255, 0.5);
}

.SearchFilterPanel .body input[type="checkbox"]:checked ~ .checkmark{
  background-color: white; 
} 
/* Create the mark/indicator (hidden when not checked) */ 
.checkmark:after
{ 
  content: ""; 
  position: absolute; 
  display: none; 
} 

/* Show the mark when checked */ 
.SearchFilterPanel .body input[type="checkbox"]:checked ~ .checkmark:after{
  display: block; 
} 

/* Style the mark/indicator */ 
.SearchFilterPanel .body .checkmark:after{
    left: 0.25rem;
    top: 0rem;
    width: 3px;
    height: 8px;
    border: solid black;
    border-width: 0 2px 2px 0; 
    transform: rotate(45deg);
} 

.SearchFilterPanel .footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: solid #999999 1px;
    padding: 0.5rem;
}

.SearchFilterPanel .footer > * {
    padding: 0.5rem;
}


.SearchBar .SearchOptionsContainer {
    font-size: 13px;
    color: #fff;
    margin: 0px 0px 5px 0px;
    background-color: #606060;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 26px;
    right: 10px;
    border: 1px solid #aaa;
}

.SearchBar .SearchOptionsHeader {
    padding: 5px;
}

.SearchBar .SearchOptionsHeader span {
    font-weight: 700;
}

.SearchBar .SearchOptionsHeader .SelectAllBtn {
    color: #aaa;
    background: transparent;
    border: none;
    outline: none;
    float: right;
}

.SearchBar .SearchOptionsHeader .SelectAllBtn:hover {
    cursor: pointer;
    color: white;
}

.SearchBar .CategoryCheckboxContainer {
    overflow-x: hidden;
}

.CheckboxLabelEnabled,
.CheckboxLabelDisabled {
    position: relative;
    width: 100%;
    display: block;
    padding: 4px 3px;
    transition: 0.15s;
}

.CheckboxLabelDisabled {
    color: #aaa;
}

.CheckboxLabelEnabled:hover {
    background-color: #555;
    cursor: pointer;
}

.CheckboxLabelEnabled .CheckboxSymbol,
.CheckboxLabelDisabled .CheckboxSymbol {
    position: absolute;
    left: 5px;
}

.CheckboxLabelEnabled .CheckboxLabelText,
.CheckboxLabelDisabled .CheckboxLabelText {
    padding-left: 20px;
    padding-right: 40px;
    /* for the "only" text */
}

.CheckboxLabelEnabled .CheckboxLabelRightButton,
.CheckboxLabelDisabled .CheckboxLabelRightButton {
    position: absolute;
    transform: translate(-50%, 20%);
    top: 0px;
    right: 0px;
    color: #aaa;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.CheckboxLabelEnabled .CheckboxLabelRightButton:hover {
    color: white;
    cursor: pointer;
}

.CheckboxLabelEnabled:hover .CheckboxLabelRightButton {
    display: block;
}

.SearchBar button.CancelButton {
    background: transparent;
    border: 0px;
    outline: 0px;
}

.SearchBar button.CancelButton:hover {
    cursor: pointer;
}

.SearchResultItemContainer,
.SearchResultItemContainerSelected {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    color: white;
    transition: 0.15s;
}

.SearchResultItemContainerSelected {
    background-color: #444;
}

.SearchResultItemContainer:hover,
.SearchResultItemContainerSelected:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.SearchResultItemContainer .ItemInfo,
.SearchResultItemContainerSelected .ItemInfo {
    padding: 5px 0px 5px 0px;
}

.SearchResultItemContainer .ItemIcon,
.SearchResultItemContainerSelected .ItemIcon {
    padding: 2px 8px;
    min-width: 32px;
    width: 32px;
    min-height: 32px;
    height: 32px;
}

.SearchResultItemContainer .ItemTitle,
.SearchResultItemContainerSelected .ItemTitle {
    margin-bottom: 2px;
}

.SearchResultItemContainer .ItemDescription,
.SearchResultItemContainerSelected .ItemDescription {
    font-size: 11px;
    padding: 2px 0px;
    color: #aaa;
}

.SearchResultItemContainer .ItemDetails,
.SearchResultItemContainerSelected .ItemDetails {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #aaaaaa;
}

.SearchResultItemContainer .ItemParent,
.SearchResultItemContainerSelected .ItemParent {
    display: inline-block;
    padding-right: 5px;
    transition: 0.15s;
    text-decoration: underline;
}

.SearchResultItemContainer .ItemParent:hover,
.SearchResultItemContainerSelected .ItemParent:hover {
    cursor: pointer;
    color: white;
}

.SearchResultItemContainer .ItemCategory,
.SearchResultItemContainerSelected .ItemCategory {
    display: inline-block;
    color: #ddd;
    padding-left: 5px;
}

.SearchResultItemContainer .ItemTypeIcon,
.SearchResultItemContainerSelected .ItemTypeIcon {
    width: 14px;
    height: 14px;
    padding-bottom: 3px;
}

.HighlightedText {
    font-weight: 700;
    color: #4ac8ef;
}

.SearchResultItemContainer .ItemParent:hover .HighlightedText {
    color: white;
}

::-webkit-input-placeholder {
    color: #aaaaaa;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #414141;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 3px;
    background-color: rgba(136, 136, 136, 0.8);
}

::-webkit-scrollbar-corner {
    background-color: inherit;
}