
@font-face {
    font-family: "Open Sans";
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

body {
    font-family: "Open Sans";
    -webkit-user-select: none;
    cursor: default;
}

.LibraryItemContainerSection {
    display: flex;
    flex-direction: column;
    background: #353535;
}

.LibraryItemContainerCategory {
    display: flex;
    flex-direction: column;
    background: #353535;
    border-bottom: solid 1px #494949;
}

.LibraryItemContainerGroup {
    display: flex;
    flex-direction: column;
    background: #414141;
}

.LibraryItemContainerNone {
    display: flex;
    flex-direction: column;
    background: #414141;
    overflow-x: hidden;
}

.LibrarySectionHeader {
    display: flex;
    padding: 10px;
    color: white;
    transition: 0.15s;
    background-color: #464646;
    color: #888;
}

.LibrarySectionHeader .LibraryItemIcon {
    display: none;
}

.LibraryItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3;
    color: white;
    transition: 0.15s;
    overflow-y: hidden;
}

.LibraryItemHeader:hover, .LibrarySectionHeader:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.LibraryItemBodyElements {
    width: 100%;
}

.LibraryItemBody {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.LibraryItemBodyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #414141;
}

.LibraryItemContainerSection .LibraryItemIcon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
    -webkit-user-drag: none;
}

.LibraryItemContainerCategory .LibraryItemIcon {
    padding: 10px;
    width: 20px;
    height: 20px;
    -webkit-user-drag: none;
}

.LibraryItemContainerNone .LibraryItemIcon {
    padding: 2px 8px;
    width: 32px;
    height: 32px;
    -webkit-user-drag: none;
}

.Arrow + .LibraryItemIcon {
    padding: 2px 8px 2px 4px;
}

.LibraryItemContainerCategory .LibraryItemText {
    font-size: 15px;
}

.LibraryItemContainerNone .LibraryItemText {
    font-size: 13px;
    padding: 10px 0px;
}

.LibraryItemGroupText {
    padding: 10px 0px 10px 5px;
    font-size: 15px;
    color: #a9a9a9;
}

.LibraryItemMiscHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3;
    color: white;
}

.LibraryItemMiscText {
    padding: 10px 0px 10px 10px;
    font-size: 15px;
    color: #a9a9a9;
}

.Arrow {
    padding: 10px 10px 10px 15px;
    height: 11px;
    width: 11px;
}

.BodyIndentation {
    padding: 8px;
}

.ClusterViewContainer {
    display: flex;
    flex-direction: row;
}

.ClusterLeftPane {
    display: flex;
    padding-left: 20px;
    margin: 2px 0px;
    border-right: 2px;
    border-right-style: solid;
}

.ClusterRightPane {
    flex-grow: 2;
    padding-left: 5px;
}

.ClusterIcon {
    width: 26px;
    height: 26px;
    padding: 5px 6px;
    -webkit-user-drag: none;
}

.searchView .searchBar {
    width: 100%;
    height: 40px;
    background: #5b5a5a;
}

.searchView .searchBar input {
    width: 100%;
    padding: 13px 10px 5px 15px;
    font-size: 15px;
    background: none;
    color: #fff;
    outline: none;
    border: none;
}

#searchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.SearchResultItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    color: white;
    transition: 0.1s;
}

.SearchResultItemContainer:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.SearchResultItemContainer .ItemInfo {
    padding: 5px 0px 5px 0px;
}

.SearchResultItemContainer .ItemIcon {
    padding: 2px 8px;
    width: 40px;
    height: 40px;
}

.SearchResultItemContainer .ItemTitle {
    font-size: 14px;
    margin-bottom: 2px;
}

.SearchResultItemContainer .ItemDetails {
    display: flex;
    align-items: center;
    padding-top: 2px;
}

.SearchResultItemContainer .ItemCategory {
    display: inline-block;
    font-size: 12px;
    color: #aaaaaa;
    padding-left: 5px;
}

.SearchResultItemContainer .ItemTypeIcon {
    display: inline-block;
    width: 14px;
    height: 14px;
}

.HighlightedText {
    font-weight: bold;
    color: #4ac8ef;
}

::-webkit-input-placeholder {
  color: #dddddd;
  font-style: italic;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #414141;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 3px;
    background-color: rgba(136,136,136,0.8);
}

::-webkit-scrollbar-corner {
    background-color: inherit;
}
