@font-face {
    font-family: "Artifakt Element";
    src: url("fonts/ArtifaktElement-Regular.woff") format("woff");
}

@font-face {
    font-family: "Artifakt Element";
    font-weight: 700;
    src: url("fonts/ArtifaktElement-Bold.woff") format("woff");
}

body {
    font-family: "Artifakt Element", "Open Sans";
    -webkit-user-select: none;
    cursor: default;
}

input {
    font-family: "Artifakt Element", "Open Sans";
}

.LibraryContainer {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.LibraryItemContainer {
    flex-grow: 1;
    overflow-y: scroll;
}

.LibraryItemContainerSection {
    display: flex;
    flex-direction: column;
    background: #353535;
}

.LibraryItemContainerCategory {
    display: flex;
    flex-direction: column;
    background: #353535;
    border-bottom: solid 1px #494949;
}

.LibraryItemContainerGroup {
    display: flex;
    flex-direction: column;
    background: #414141;
}

.LibraryItemContainerNone {
    display: flex;
    flex-direction: column;
    background: #414141;
    overflow-x: hidden;
}

.LibrarySectionHeader {
    display: flex;
    padding: 10px;
    color: white;
    transition: 0.15s;
    background-color: #464646;
    color: #888;
}

.LibrarySectionHeader .LibraryItemIcon {
    display: none;
}

.LibraryItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3;
    color: white;
    transition: 0.15s;
    overflow-y: hidden;
}

.LibraryItemHeader:hover,
.LibrarySectionHeader:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.LibraryItemBodyElements {
    width: 100%;
}

.LibraryItemBody {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.LibraryItemBodyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #414141;
}

.LibraryItemContainerSection .LibraryItemIcon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
    -webkit-user-drag: none;
}

.LibraryItemContainerCategory .LibraryItemIcon {
    padding: 10px;
    width: 20px;
    height: 20px;
    -webkit-user-drag: none;
}

.LibraryItemContainerNone .LibraryItemIcon {
    padding: 2px 8px;
    width: 32px;
    height: 32px;
    -webkit-user-drag: none;
}

.Arrow+.LibraryItemIcon {
    padding: 2px 8px 2px 4px;
}

.LibraryItemContainerCategory .LibraryItemText {
    font-size: 15px;
}

.LibraryItemContainerNone .LibraryItemText {
    font-size: 13px;
    padding: 10px 0px;
}

.LibraryItemGroupText {
    padding: 10px 0px 10px 5px;
    font-size: 15px;
    color: #a9a9a9;
}

.LibraryItemMiscHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3;
    color: white;
}

.LibraryItemMiscText {
    padding: 10px 0px 10px 10px;
    font-size: 15px;
    color: #a9a9a9;
}

.LibraryItemParameters {
    color: #888;
    font-size: 9pt;
    margin-left: 5px;
    display: inline-block;
}

.Arrow {
    padding: 10px 10px 10px 15px;
    height: 11px;
    width: 11px;
}

.BodyIndentation {
    padding: 8px;
}

.ClusterViewContainer {
    display: flex;
    flex-direction: row;
}

.ClusterLeftPane {
    display: flex;
    padding-left: 20px;
    margin: 2px 0px;
    border-right: 2px;
    border-right-style: solid;
}

.ClusterRightPane {
    flex-grow: 2;
    padding-left: 5px;
}

.ClusterIcon {
    width: 26px;
    height: 26px;
    padding: 5px 6px;
    -webkit-user-drag: none;
}

.SearchBar {
    width: 100%;
    background: #5b5a5a;
}

.SearchInput {
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
}

.SearchInputContainer {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.SearchBar .SearchBarIcon {
    padding-left: 10px;
}

.SearchBar #SearchInputText {
    width: 100%;
    font-size: 15px;
    padding: 5px 5px 0px 10px;
    background: none;
    outline: none;
    border: none;
}

.SearchBar #SearchOptionsBtnEnabled,
.SearchBar #SearchOptionsBtnDisabled {
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background-color: #414141;
}

.SearchBar #SearchOptionsBtnEnabled {
    color: #ddd;
    transition: 0.1s;
}

.SearchBar #SearchOptionsBtnDisabled {
    color: #888;
}

.SearchBar #SearchOptionsBtnEnabled:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.SearchBar .SearchOptions {
    padding-bottom: 1px;
}

.SearchBar .SearchOptionsContainer {
    font-size: 13px;
    color: #fff;
    margin: 0px 0px 5px 0px;
    background-color: #414141;
    overflow-x: hidden;
    overflow-y: hidden;
}

.SearchBar .SearchOptionsHeader {
    padding: 5px;
}

.SearchBar .SearchOptionsHeader span {
    font-weight: 700;
}

.SearchBar .SearchOptionsHeader .SelectAllBtn {
    color: #aaa;
    background: transparent;
    border: none;
    outline: none;
    float: right;
}

.SearchBar .SearchOptionsHeader .SelectAllBtn:hover {
    cursor: pointer;
    color: white;
}

.SearchBar .CategoryCheckboxContainer {
    overflow-x: hidden;
}

.CheckboxLabelEnabled,
.CheckboxLabelDisabled {
    position: relative;
    background-color: #414141;
    width: 100%;
    display: block;
    padding: 5px;
}

.CheckboxLabelDisabled {
    color: #aaa;
}

.CheckboxLabelEnabled:hover {
    background-color: #555;
    cursor: pointer;
}

.CheckboxLabelEnabled .CheckboxSymbol,
.CheckboxLabelDisabled .CheckboxSymbol {
    position: absolute;
    top: 5px;
    left: 5px;
}

.CheckboxLabelEnabled .CheckboxLabelText,
.CheckboxLabelDisabled .CheckboxLabelText {
    padding-left: 20px;
}

.CheckboxLabelEnabled .CheckboxLabelRightButton,
.CheckboxLabelDisabled .CheckboxLabelRightButton {
    position: absolute;
    transform: translate(-70%, 25%);
    top: 0px;
    right: 0px;
    color: #aaa;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    margin: 0px;
    padding: 0px;
}

.CheckboxLabelEnabled .CheckboxLabelRightButton:hover {
    color: white;
    cursor: pointer;
}

.CheckboxLabelEnabled:hover .CheckboxLabelRightButton {
    display: block;
}

.SearchCheckbox,
.CategoryCheckbox {
    display: none;
}

.SearchBar .CancelButton button {
    font-size: 20px;
    color: #ccc;
    background: transparent;
    border: 0px;
    padding: 5px 10px 0px 0px;
    outline: 0px;
}

.SearchBar .CancelButton button:hover {
    cursor: pointer;
}

#SearchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.SearchResultItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    color: white;
    transition: 0.15s;
}

.SearchResultItemContainer:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.SearchResultItemContainer .ItemInfo {
    padding: 5px 0px 5px 0px;
    width: 100%;
}

.SearchResultItemContainer .ItemIcon {
    padding: 2px 8px;
    width: 40px;
    height: 40px;
}

.SearchResultItemContainer .ItemTitle {
    font-size: 14px;
    margin-bottom: 2px;
}

.SearchResultItemContainer .ItemDescription {
    font-size: 11px;
    padding: 2px 0px;
    color: #aaa;
}

.SearchResultItemContainer .ItemDetails {
    display: flex;
    align-items: center;
    padding-top: 2px;
    font-size: 12px;
    color: #aaaaaa;
}

.SearchResultItemContainer .ItemParent {
    display: inline-block;
    padding-right: 5px;
    transition: 0.1s;
    text-decoration: underline;
}

.SearchResultItemContainer .ItemParent:hover {
    cursor: pointer;
    color: white;
}

.SearchResultItemContainer .ItemCategory {
    display: inline-block;
    font-size: 12px;
    color: #ddd;
    padding-left: 5px;
}

.SearchResultItemContainer .ItemTypeIcon {
    display: inline-block;
    width: 14px;
    height: 14px;
}

.HighlightedText {
    font-weight: 700;
    color: #4ac8ef;
}

.SearchResultItemContainer .ItemParent:hover .HighlightedText {
    color: white;
}

::-webkit-input-placeholder {
    color: #aaaaaa;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #414141;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 3px;
    background-color: rgba(136, 136, 136, 0.8);
}

::-webkit-scrollbar-corner {
    background-color: inherit;
}