
@font-face {
    font-family: "Open Sans";
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

body {
    font-family: "Open Sans";
    -webkit-user-select: none;
    cursor: default;
}

.LibraryItemContainerCategory {
    display: flex;
    flex-direction: column;
    background: #353535;
    border-bottom: solid 1px #494949;
}

.LibraryItemContainerGroup {
    display: flex;
    flex-direction: column;
    background: #414141;
}

.LibraryItemContainerNone {
    display: flex;
    flex-direction: column;
    background: #414141;
    overflow-x: hidden;
}

.LibraryItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3;
    color: white;
    transition: 0.15s;
}

.LibraryItemHeader:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.LibraryItemBody {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.LibraryItemContainerCategory .LibraryItemIcon {
    padding: 10px;
    width: 20px;
    height: 20px;
    -webkit-user-drag: none;
}

.LibraryItemContainerNone .LibraryItemIcon {
    padding: 2px 8px;
    width: 32px;
    height: 32px;
    -webkit-user-drag: none;
}

.LibraryItemContainerCategory .LibraryItemText {
    font-size: 15px;
}

.LibraryItemContainerNone .LibraryItemText {
    font-size: 13px;
}

.LibraryItemGroupText {
    font-size: 15px;
    color: #a9a9a9;
}

.Indents {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.Indents + .LibraryItemIcon {
    padding: 0px 10px 0px 0px;
}

.Indentation {
    height: 40px;
    width: 20px;
}

.ClusterViewContainer {
    display: flex;
    flex-direction: row;
}

.ClusterLeftPane {
    display: flex;
    padding-left: 35px;
    margin: 2px 0px;
    border-right: 2px;
    border-right-style: solid;
    justify-content: flex-end;
}

.ClusterRightPane {
    flex-grow: 2;
    padding-left: 5px;
}

.ClusterIcon {
    width: 26px;
    height: 26px;
    padding: 5px 6px;
    -webkit-user-drag: none;
}

.SearchBar {
    background: #5b5a5a;
}

.SearchInput {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.SearchInputContainer {
    margin-left:5px;
    width:100%;
    height:30px;
    border-radius:5px;
    background-color:#fff;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.SearchBar img {
    fill: #000;
    width: 18px;
    height: 18px;
    margin: 11px;
}

.SearchBar #SearchInputText {
    height:18px;
    width:100%;
    font-size: 15px;
    padding:10px;
    background: none;
    outline: none;
    border: none;
}

.SearchBar #SearchOptionsBtn {
    height: 32px;
    width: 32px;
    color: #ddd;
    border: 1px;
    border-radius: 5px;
    margin: 5px;
}

.SearchBar #SearchOptionsBtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.SearchBar .ArrowBg {
    background-color: #414141;
    background-image: url("/src/resources/UI/arrow-upward.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.SearchBar .ArrowReversedBg {
    background-color: #414141;
    background-image: url("/src/resources/UI/arrow-downward.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.SearchBar #SearchOptionsBtn:focus {
    outline: 0;
}

.SearchBar .SearchOptions {
    padding-bottom:1px;
}

.SearchBar .SearchOptionsContainer {
    font-size: 13px;
    color:#fff;
    margin:0px 5px 5px 5px;
    background-color:#414141;
    padding:5px;
    border-radius:5px;
}

.OptionCheckbox, .OptionText {
    vertical-align:middle;
}

.SearchBar .CategoryContainer {
    max-height:100px;
    overflow-y: scroll;
}

#SearchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: #aaaaaa;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #414141;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 3px;
    background-color: rgba(136,136,136,0.8);
}

::-webkit-scrollbar-corner {
    background-color: inherit;
}
